body {
    background-color: #c0babc;
}
.form {
    text-align: center;
    padding-bottom: 50px;
}
.visit {
    text-decoration: none;
    color: #e71d36;
}
.visit:hover{
    font-weight: bold;
}
.sourceCard {
    margin:5px;
    height: 220px;
    width: 300px;
    border: 1px solid gray;
    border-radius: 15px;
    background-color: white;
}


.sources { 
    margin-top: 10px;
}
.header{
    text-align: center;
    font-size: 25px;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Anton', sans-serif;
    padding-top: 20px;
}
.header a {
    text-decoration: none;
    color: black;
}
.header a:hover{
    color:#e71d36 ;
}
.bodyCard {
    font-family: 'Bitter', serif;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    
}
.bodyCard h5 {
    font-size: 17px;
    padding: 5px;
}
.bodyCard span {
    padding-bottom: 10px;
}