{% extends 'base.html'%} 
{% import 'macros.html' as macro%}
{% block content%}
<div class="container">
		<!-- Business News Section  -->
        <h3> Top Business News Sources</h3>
        <hr>
        {{ macro.displaySourcesList(sources)}}
        <!-- Business News Section  -->
        <h3> Top Technology News Sources</h3>
        <hr>
        {{ macro.displaySourcesList(technology_sources)}}
        <!-- Entertainment News Section  -->
        <h3> Top Entertainment News Sources</h3>
        <hr>
        {{ macro.displaySourcesList(entertainment_sources)}}
        <!-- Entertainment News Section  -->
        <h3> Top Sports News Sources</h3>
        <hr>
        {{ macro.displaySourcesList(sports_sources)}}
</div>
{%endblock%}