{% extends 'base.html' %}
{% import 'macros.html' as macro %}

<!--Styles Block-->
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Anton|Roboto+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bitter|Open+Sans:400i&display=swap" rel="stylesheet">
{% endblock %}

<!--Content Block-->
{% block content %}
    <div class="form">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search article" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" value="Submit" type="submit">Search for news articles</button>
        </form>
    </div>
    <ul>
        {{macro.displaySourceList(sources)}}
    </ul>
{% endblock %}