{% extends 'base.html' %}
{% import 'macros.html' as macro %}

<!--Styles Block-->
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/search.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Anton|Roboto+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bitter|Open+Sans:400i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anton|Roboto|Roboto+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anton|Open+Sans|Roboto|Roboto+Mono&display=swap" rel="stylesheet">



{% endblock %}

{% block content %}
    {% if search %}
        <div class="container-fluid search">
            <h3>Found {{search | count }} articles </h3>
            <hr>
        </div>
            <ul>
                {{ macro.displaySourceArticles(search) }}
            </ul> 
        
    {% else %}
        <div class="container">
            <h4>No search results found for your request</h4>
        </div>
    {% endif %}
{% endblock %}